:root {
  --bg: #350a4f;
  --side-color: #fa9e2c;
  --dark: #2f2f2f;
  --princ-font: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Snippet box sizing */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--princ-font);
  color: var(--dark);
}

.bg-nav {
  background-color: var(--bg);
}

#sidebar-container {
  /* width: min(240px, 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  /*justify-content: center;*/
  background-color: var(--side-color);
}

#sidemenu-container .menu {
  /* width: 15rem; */
  padding-top: 100px;
}

.menu-cont {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.menu-cont:hover {
  background-color: #d98926;
  cursor: pointer;
}

.menu i {
  font-size: 1.7rem;
  padding-left: 2rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.menu__item {
  width: 100%;
  display: inherit;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
}

.btn-p {
  margin: 0 auto;
  gap: 4rem;
}

.btn-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flexx {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.spc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 3rem;
}

.button {
  display: inherit;
  padding: 1.2rem 2rem;
  background-color: var(--bg);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

.button .btn-number {
  padding-left: 2rem;
  font-size: 2rem;
}

.card-container {
  padding-top: 6rem !important;
}

.card-container img {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
}

.bd-radius {
  border-radius: 5px;
  cursor: pointer;
}

.card-body {
  background-color: var(--bg);
  color: white;
}

.card-text {
  text-transform: uppercase;
  font-weight: 700;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

