<nav class="navbar navbar-expand-sm bg-nav navbar-dark space-nav">
  <div class="container-fluid">
    <div class="container-fluid d-flex align-items-center">
      <a href="/login.html" class="navbar-brand">
        <img src="../img/logo.png" alt="Logo" width="50px" />
      </a>

      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/img/man.png"
              class="img-fluid rounded-circle mr-2 avatar"
              alt=""
              width="30px"
            />
            Ervin Álvarez
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li>
              <a class="dropdown-item" href="#">Ajustes</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Cerrar Sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
