<div id="sidebar-container" class="nav-bg">
  <div class="menu">
    <div class="menu-cont">
      <i class="fa-solid fa-house"></i>
      <a href="/index.html" class="menu__item"> Inicio</a>
    </div>

    <div class="menu-cont">
      <i class="fa-solid fa-users"></i>
      <a href="#" class="menu__item"> Registro de clientes</a>
    </div>

    <div class="menu-cont">
      <i class="fa-solid fa-bed"></i>
      <a href="#" class="menu__item"> Registro de habitación</a>
    </div>

    <div class="menu-cont">
      <i class="fa-solid fa-money-bills"></i>
      <a href="#" class="menu__item"> Registro de facturación</a>
    </div>
  </div>
</div>
